.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
caches_Rapi/
.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.xlsx
*APIKEY*.txt
caches_vyos/
*.txt
*.DS_Store
tests/.DS_Store
*.Rcheck
caches_vyos/
vyos.Rproj
CRAN-SUBMISSION*.*
CRAN-SUBMISSION
cran-comments.md
*.Rproj
Main.R
*.xlsx


APIKEYS/
*SECRET*.*
!data-deps.txt
caches_Rsearch/
